configglue
Cython
Django<2
magicicadaprotocol==3.0.3
pyOpenSSL
protobuf<4
psycopg2-binary
# From twisted UserWarning: You do not have a working installation of the
# service_identity module: 'No module named service_identity'.  Please install
# it from <https://pypi.python.org/pypi/service_identity> and make sure all of
# its dependencies are satisfied.  Without the service_identity module, Twisted
# can perform only rudimentary TLS client hostname verification.  Many valid
# certificate/hostname mappings may be rejected.
service-identity
supervisor
Twisted==21.7.0
